<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link href="@Url.Content("∼/Content/bootstrap.min.css")" rel="stylesheet" />*@
    
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container">

            <a class="navbar-brand" href="~/Home">BookStore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Authors">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Books">Books</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    @*<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">*@
                    @*<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchName" value="@ViewData["searchName"]" asp-route-searchName="searchName" />*@
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchName" />
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit" asp-action="Index">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <div class="footer">
        Copyright &copy; @DateTime.Now.Year Book Store
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<style>
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #f8f9fa;
        padding: 20px;
        text-align: center
    }
</style>